{% extends 'base.html' %}
{% block title %}Search Results{% endblock %}
{% block content %}

<a class="btn btn-primary" style="float: right" href="/add/">Add a Customer</a></p>

<h1>Found Customers</h1>
{% if customers.length == 0 %}
    <p style="color: maroon;">No customers found</p>
{% else %}
    <ul style="column-count: 4">
        {% for customer in customers %}
        <li><a href="/{{ customer.id }}/">{{ customer.fullName }}</a></li>
        {% endfor %}
    </ul>
{% endif %}

{% endblock %}

